@tailwind base;
@tailwind components;
@tailwind utilities;

@import './intro.module.scss';
@import './footer.module.scss';
@import './header.module.scss';
@import './hire-me.module.scss';
@import './recent-works.module.scss';

@import './Projects.module.scss';

:root {
  --max-width: 1560px;

  // COLORS
  --accent-color: #F23737;
  --secondary-text-color: #828282;
  --text-color: #000;

  --background-grey: #fafafa;
  --bg-main-color: #f1f1f1;
  --bg-2-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  // max-width: 100vw;
  // background-color: var(--bg-main-color);

  // font-family: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  // color: var(--text-color);
  // transition: left .2s ease;
  // position: relative;
}

#overflow-wrapper {
  max-width: 100vw;
  position: relative;
  left: 0;
  top: 0;
  
}

img, svg, video {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.external::after {
    content: '';
    display: inline-block;
    background: transparent url("/external-link.svg") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}


ul, ol {
  list-style: none;
}