
header.main {
    background: grey;


    .cover {
        display: none;
        background-color: var(--bg-main-color);
        opacity: 0;
        // opacity: .6;
        transition: opacity .1s ease;

        position: absolute;
        z-index: 999;

        inset: 0;
    }

    .float {
        position: fixed;
        z-index: 999;
        width: 30px;

        left: 0;                 
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: left .2s ease;
        button {
            transform: rotate(-90deg);
            cursor: pointer;
            border: none;
            background: transparent;
            color: var(--text-color);
            letter-spacing: 16px;
            padding: 10px 30px;
            position: absolute;
            left: -60px;
            
        }
    }

    .wrapper {
        // display: none;
        // visibility: hidden;
        position: fixed;
        z-index: 999;

        background-color: var(--text-color);
        
        width: 300px;
        height: 100vh;
        top: 0;
        left: -300px;

        padding: 50px;
        transition: left .2s ease;

        .close {
            border: none;
            background: transparent;
            margin-bottom: 80px;
        }
        .close-hidden {
            width: 0;
            height: 0;
            margin-top: 30px;            
            font-size: 20px;
            border: none;
            background: var(--background-grey);
            color: var(--text-color);
            overflow: hidden;
            &:focus, &:hover {
                width: unset;
                height: unset;
            }
        }
        .github-link {
            height: 2.5rem;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            background: var(--bg-main-color);
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            padding: 0.5rem;
            color: var(--text-color);
            gap: 0.5rem;
            font-weight: 500;
            transition: color .1s ease-in-out;
            &:hover {
                color: var(--accent-color);
            }
        }

        .language-dropdown {
            color: var(--bg-main-color);
            margin-top: 4rem;
            border: solid 1px var(--bg-2-color);
            border-radius: 6px;
            padding: .5rem 1rem;

            summary {
                display: flex;
                align-items: center;
                gap: 10px;
                > svg {
                    max-width: 30px;
                }
                font-size: 18px;
                color: var(--bg-main-color);
                cursor: pointer;
                transition: color .1s ease;
                &:hover {
                    color: var(--accent-color);
                }
            }

            ul {
                margin: 1rem .5rem .5rem 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    a {
                        color: var(--bg-main-color);
                        width: 100%;

                        display: flex;
                        align-items: center;
                        gap: 10px;
        
                        font-size: 17px;
                        > svg {
                            max-width: 30px;
                        }
                        transition: color .1s ease;
                        &:hover {
                            color: var(--accent-color);
                        }
                    }
                }
            }
        }

        nav > ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 25px;
            li > a {
                font-size: 21px;
                color: var(--bg-main-color);
                letter-spacing: 1.5px;
                transition: color .1s ease;

                &:hover {
                    color: var(--accent-color);
                }
            }
        }
    }

    &.opened {
        .float {
            left: 300px;
            button {
                color: var(--accent-color);
            }
        }
        .cover {
            display: block;
            opacity: .6;
        }
        .wrapper {
            left: -0;
            // visibility: visible;
        }
    }

    @media only screen and (max-width: 450px) {
        .float {

            background: var(--bg-main-color);
            top: 0;
            left: 0;
            height: 50px;
            width: 100%;
            justify-content: center;
            align-items: center;
            button {
                transform: none;
                margin-right: -16px;
                position: unset;
            }
        }
    }

    @media only screen and (min-width: 1536px) {

        .float {
            
            background: var(--bg-main-color);
            top: 0;
            left: 0;
            height: 100px;
            width: 100%;
            justify-content: center;
            align-items: center;
            button {
                transform: none;
                margin-right: -16px;
                position: unset;

            }
        }
        
        .wrapper {
            
            width: 500px;
            height: unset;
            left: calc(50% - 250px);
            top: -100%;
            right: 0;

            padding: 50px 50px 100px;
            transition: top .2s ease;

            .close {

            }
            nav > ul {
                align-items: center;
            }
        }
        &.opened {
            .float {
                left: 0;
            }
            .cover {
                display: block;
                opacity: .6;
            }
            .wrapper {
                left: calc(50% - 250px);
                top: 0;
            }
        }
    }
}