
section.hire-me {

    margin-bottom: 90px;


    
    .wrapper {
        text-align: center;
        font-weight: 200;

        h2 {
            font-size: 2.5rem;
            font-weight: 400;
            margin-top: 90px;
        }
        p {
            margin: auto;
            margin-top: 30px;
            max-width: 450px;
            font-size: 20px;
        }

        .contacts {
            margin-top: 55px;
            
            nav ul li {
                display: flex;
                justify-content: center;

                a {
                    color: var(--white);
                    font-size: 24px;
                    transition: color .1s ease;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    .icon {
                        height: 27px;
                    }
                    
                    &:hover {
                        color: var(--red);
                    }
                }
            }
            .numbers {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .emails {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

    }

    @media only screen and (max-width: 450px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}


.hire-me-page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}