section.recent-works {
    margin-top: 90px;

    hr {

        width: 400px;
        margin: auto;
        border: none;
        height: 2px;
        background-color: var(--red);

    }

    h2 {
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
    }

    @media only screen and (max-width: 1024px) {
    }
    @media only screen and (max-width: 768px) {

        hr {
            width: 33%;
        }
    }
    @media only screen and (max-width: 450px) {
        h2 {
            font-size: 3rem;
        }
    }
    
}